<a href="https://colab.research.google.com/github/nguyenhoanghamy/CTDL/blob/main/BT_5_1_Tap_tin_du_lieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ĐỀ BÀI TẬP 5.1: **Xử lý tập tin**
<u>Nội dung</u>:
* Quan sát dữ liệu
* Khai thác dữ liệu
* Tổng hợp dữ liệu

<u>Cập nhật</u>: **07/2023**

---
### **MÔI TRƯỜNG TRIỂN KHAI ỨNG DỤNG**
---

In [2]:
## Kết nối Google Drive
from google.colab import drive
drive.mount('/content/gdrive', force_remount = True)
folder = 'https://drive.google.com/drive/u/0/folders/1GAc0qMzsSjwTNNqotb7ESpluQRXRaXkW?fbclid=IwAR3OspL6lWaxu0eRN_eJfwo_eXlB2HrdPpMcK0BDYsJYGnPutnCviUk0azw'

Mounted at /content/gdrive

In [3]:
## Thư viện
import numpy             as np
import matplotlib.pyplot as plt
import pandas            as pd
import scipy.stats       as st
import seaborn           as sns
import warnings
warnings.filterwarnings('ignore')

---
### **1. Quan sát dữ liệu**
---

In [ ]:
##------------------------------------------------------------------------------
## Tái tạo đồ thị (nodes, edges) được lưu trữ trong tập tin graph.xls
##------------------------------------------------------------------------------
## Viết code:
## Tạo list và array chứa các nodes


## Tạo list, array và ma trận kề chứa các edges

Tổng cộng có 10 nodes:
	Node 0 (Mầu: black, Trọng số: 2.00)
	Node 1 (Mầu: orange, Trọng số: 6.00)
	Node 2 (Mầu: white, Trọng số: 2.01)
	Node 3 (Mầu: blue, Trọng số: 1.00)
	Node 4 (Mầu: pink, Trọng số: -1.00)
	Node 5 (Mầu: red, Trọng số: 3.00)
	Node 6 (Mầu: violet, Trọng số: 2.52)
	Node 7 (Mầu: green, Trọng số: 0.21)
	Node 8 (Mầu: yellow, Trọng số: -3.20)
	Node 9 (Mầu: cyan, Trọng số: 0.00)

Tổng cộng có 7 edges:
	Edge 0 (Node 0 --> Node 2,  Trọng số: 2.00)
	Edge 1 (Node 2 --> Node 3,  Trọng số: 3.02)
	Edge 2 (Node 3 --> Node 0,  Trọng số: 2.09)
	Edge 3 (Node 1 --> Node 4,  Trọng số: 2.00)
	Edge 4 (Node 5 --> Node 6,  Trọng số: 0.00)
	Edge 5 (Node 7 --> Node 9,  Trọng số: 1.00)
	Edge 6 (Node 8 --> Node 0,  Trọng số: 1.30)

 [[0.   0.   2.   2.09 0.   0.   0.   0.   1.3  0.  ]
 [0.   0.   0.   0.   2.   0.   0.   0.   0.   0.  ]
 [2.   0.   0.   3.02 0.   0.   0.   0.   0.   0.  ]
 [2.09 0.   3.02 0.   0.   0.   0.   0.   0.   0.  ]
 [0.   2.   0.   0.   0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.   0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.   0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.   0.   0.   0.   0.   0.   1.  ]
 [1.3  0.   0.   0.   0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.   0.   0.   0.   1.   0.   0.  ]]

In [ ]:
##------------------------------------------------------------------------------
## Mở và quan sát tập tin Excel: house_prices_dirty.csv
##------------------------------------------------------------------------------
## Viết code:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
None
----------

In [ ]:
##------------------------------------------------------------------------------
## Quan sát các columns: numerical (continuous), categorical
##------------------------------------------------------------------------------
## Viết code:
## Liệt kê các columns có kiểu NUMERICAL


## Liệt kê các columns có kiểu CATEGORICAL

Numerical columns: ['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice']

Categorical columns:
1 ) MSZoning 		( 5 values ): ['RL' 'RM' 'C (all)' 'FV' 'RH']
2 ) Street 		( 2 values ): ['Pave' 'Grvl']
3 ) Alley 		( 3 values ): [nan 'Grvl' 'Pave']
4 ) LotShape 		( 4 values ): ['Reg' 'IR1' 'IR2' 'IR3']
5 ) LandContour 		( 4 values ): ['Lvl' 'Bnk' 'Low' 'HLS']
6 ) Utilities 		( 2 values ): ['AllPub' 'NoSeWa']
7 ) LotConfig 		( 5 values ): ['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
8 ) LandSlope 		( 3 values ): ['Gtl' 'Mod' 'Sev']
9 ) Neighborhood 		( 25 values ): ['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
10 ) Condition1 		( 9 values ): ['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
11 ) Condition2 		( 8 values ): ['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']
12 ) BldgType 		( 5 values ): ['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
13 ) HouseStyle 		( 8 values ): ['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
14 ) RoofStyle 		( 6 values ): ['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
15 ) RoofMatl 		( 8 values ): ['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']
16 ) Exterior1st 		( 15 values ): ['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock']
17 ) Exterior2nd 		( 16 values ): ['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock']
18 ) MasVnrType 		( 5 values ): ['BrkFace' 'None' 'Stone' 'BrkCmn' nan]
19 ) ExterQual 		( 4 values ): ['Gd' 'TA' 'Ex' 'Fa']
20 ) ExterCond 		( 5 values ): ['TA' 'Gd' 'Fa' 'Po' 'Ex']
21 ) Foundation 		( 6 values ): ['PConc' 'CBlock' 'BrkTil' 'Wood' 'Slab' 'Stone']
22 ) BsmtQual 		( 5 values ): ['Gd' 'TA' 'Ex' nan 'Fa']
23 ) BsmtCond 		( 5 values ): ['TA' 'Gd' nan 'Fa' 'Po']
24 ) BsmtExposure 		( 5 values ): ['No' 'Gd' 'Mn' 'Av' nan]
25 ) BsmtFinType1 		( 7 values ): ['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
26 ) BsmtFinType2 		( 7 values ): ['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']
27 ) Heating 		( 6 values ): ['GasA' 'GasW' 'Grav' 'Wall' 'OthW' 'Floor']
28 ) HeatingQC 		( 5 values ): ['Ex' 'Gd' 'TA' 'Fa' 'Po']
29 ) CentralAir 		( 2 values ): ['Y' 'N']
30 ) Electrical 		( 6 values ): ['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]
31 ) KitchenQual 		( 4 values ): ['Gd' 'TA' 'Ex' 'Fa']
32 ) Functional 		( 7 values ): ['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev']
33 ) FireplaceQu 		( 6 values ): [nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']
34 ) GarageType 		( 7 values ): ['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
35 ) GarageFinish 		( 4 values ): ['RFn' 'Unf' 'Fin' nan]
36 ) GarageQual 		( 6 values ): ['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
37 ) GarageCond 		( 6 values ): ['TA' 'Fa' nan 'Gd' 'Po' 'Ex']
38 ) PavedDrive 		( 3 values ): ['Y' 'N' 'P']
39 ) PoolQC 		( 4 values ): [nan 'Ex' 'Fa' 'Gd']
40 ) Fence 		( 5 values ): [nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']
41 ) MiscFeature 		( 5 values ): [nan 'Shed' 'Gar2' 'Othr' 'TenC']
42 ) SaleType 		( 9 values ): ['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth']
43 ) SaleCondition 		( 6 values ): ['Normal' 'Abnorml' 'Partial' 'AdjLand' 'Alloca' 'Family']

---
### **2. Khai thác dữ liệu**
---

In [ ]:
##------------------------------------------------------------------------------
## Mở tập tin dữ liệu MovieLens100K.xlsx, sheet_name = 'Movies'
##------------------------------------------------------------------------------
## Viết code:


## Xử lý NaN

a) Dữ liệu MOVIES:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   title    9125 non-null   object
 2   genres   9124 non-null   object
dtypes: int64(1), object(2)
memory usage: 214.0+ KB
None
genres    1
dtype: int64

In [ ]:
##------------------------------------------------------------------------------
## Mở tập tin dữ liệu MovieLens100K.xlsx, sheet_name = 'Ratings'
##------------------------------------------------------------------------------
## Viết code:


## Xử lý NaN


## Xử lý những giá trị bị sai (rating > 5, rating < 0)

b) Dữ liệu RATINGS:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None
userId     False
movieId    False
rating     False
dtype: bool
    userId  movieId  rating
56       2      350     6.0
    userId  movieId  rating
56       2      350     4.0

In [ ]:
##------------------------------------------------------------------------------
## Phép kết RATINGS và MOVIES
##------------------------------------------------------------------------------
## Viết code: Sử dụng Pandas.merge(df1, df2, how = 'inner')

c) Phép kết tự nhiên MOVIES x RATINGS:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 99984 entries, 0 to 99983
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   99984 non-null  int64
 1   movieId  99984 non-null  int64
 2   rating   99984 non-null  float64
 3   title    99984 non-null  object
 4   genres   99984 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 4.6+ MB
None
   userId  movieId  rating                   title genres
0       1       31     2.5  Dangerous Minds (1995)  Drama
1       7       31     3.0  Dangerous Minds (1995)  Drama
2      31       31     4.0  Dangerous Minds (1995)  Drama
3      32       31     4.0  Dangerous Minds (1995)  Drama
4      36       31     3.0  Dangerous Minds (1995)  Drama

In [ ]:
##------------------------------------------------------------------------------
## Sử dụng các phương thức của Series.str
##    - contains()
##    - startswith(), endswith()
##------------------------------------------------------------------------------
## Viết code:
## Hiển thị đánh giá của những bộ phim có tên chứa từ American


## Hiển thị đánh giá của những bộ phim có tên bắt đầu bằng từ American


## Hiển thị những bộ phim thuộc thể loại Comedy


## Hiển thị những bộ phim CHỈ thuộc thể loại Comedy


## Hiển thị đánh giá của những bộ phim sản xuất năm 2000
## Năm sx đặt trong cặp () ở cuối tên film (title)

       userId                   title  rating
11460       3  American Beauty (1999)     4.0
11461       8  American Beauty (1999)     4.5
11462      15  American Beauty (1999)     4.0
11463      16  American Beauty (1999)     4.0
11464      17  American Beauty (1999)     4.5
       userId                   title  rating
11460       3  American Beauty (1999)     4.0
11461       8  American Beauty (1999)     4.5
11462      15  American Beauty (1999)     4.0
11463      16  American Beauty (1999)     4.0
11464      17  American Beauty (1999)     4.5
     userId  movieId  rating                                   title  \
489       1     1405     1.0  Beavis and Butt-Head Do America (1996)
490       7     1405     5.0  Beavis and Butt-Head Do America (1996)
491      15     1405     3.0  Beavis and Butt-Head Do America (1996)
492      19     1405     3.0  Beavis and Butt-Head Do America (1996)
493      25     1405     3.0  Beavis and Butt-Head Do America (1996)

                               genres
489  Adventure,Animation,Comedy,Crime
490  Adventure,Animation,Comedy,Crime
491  Adventure,Animation,Comedy,Crime
492  Adventure,Animation,Comedy,Crime
493  Adventure,Animation,Comedy,Crime
    movieId                                  title  genres
4         5     Father of the Bride Part II (1995)  Comedy
17       18                      Four Rooms (1995)  Comedy
18       19  Ace Ventura: When Nature Calls (1995)  Comedy
61       65                        Bio-Dome (1996)  Comedy
64       69                          Friday (1995)  Comedy
       userId             title  rating
11890       3  Frequency (2000)     4.0
11891      15  Frequency (2000)     2.0
11892      23  Frequency (2000)     3.5
11893      43  Frequency (2000)     4.0
11894      51  Frequency (2000)     5.0

In [ ]:
##------------------------------------------------------------------------------
## Rút trích thông tin năm sản xuất phim để tách thành cột riêng (year)
##------------------------------------------------------------------------------
## Viết code:

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị đánh giá của những bộ phim sản xuất sau năm 2000
##------------------------------------------------------------------------------
## Viết code:

       userId  movieId                       title  year
11890       3     3510            Frequency (2000)  2000
11891      15     3510            Frequency (2000)  2000
11892      23     3510            Frequency (2000)  2000
11893      43     3510            Frequency (2000)  2000
11894      51     3510            Frequency (2000)  2000
...       ...      ...                         ...   ...
11985     528     3949  Requiem for a Dream (2000)  2000
11986     544     3949  Requiem for a Dream (2000)  2000
11987     547     3949  Requiem for a Dream (2000)  2000
11988     558     3949  Requiem for a Dream (2000)  2000
11989     560     3949  Requiem for a Dream (2000)  2000

[100 rows x 4 columns]

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị đánh giá của hai bộ phim: 'Heat (1995)', 'Titanic (1997)'
##------------------------------------------------------------------------------
## Viết code:

       userId  movieId  rating           title         genres  year
10608       3     1721     4.5  Titanic (1997)  Drama,Romance  1997
10609       5     1721     4.0  Titanic (1997)  Drama,Romance  1997
10610       9     1721     3.0  Titanic (1997)  Drama,Romance  1997
10611      14     1721     3.0  Titanic (1997)  Drama,Romance  1997
10612      15     1721     1.5  Titanic (1997)  Drama,Romance  1997

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị những bộ phim được đánh giá 5*
##------------------------------------------------------------------------------
## Viết code:


## Chỉ hiển thị tên phim (title) --> trùng lắp


## Hiển thị số dòng không trùng lắp

       userId  movieId  rating  \
30        487       31     5.0
43         19     1029     5.0
48        102     1029     5.0
52        188     1029     5.0
60        387     1029     5.0
...       ...      ...     ...
99976     652   142240     5.0
99980     652   147037     5.0
99987     656     1692     5.0
99988     656     3845     5.0
99989     656     3909     5.0

                                                   title  \
30                                Dangerous Minds (1995)
43                                          Dumbo (1941)
48                                          Dumbo (1941)
52                                          Dumbo (1941)
60                                          Dumbo (1941)
...                                                  ...
99976                                      Romeos (2011)
99980                             Straight-Jacket (2004)
99987                                Alien Escape (1995)
99988  And God Created Woman (Et Dieu... crÃ©a la fem...
99989                                Woman on Top (2000)

                                 genres  year
30                                Drama  1995
43     Animation,Children,Drama,Musical  1941
48     Animation,Children,Drama,Musical  1941
52     Animation,Children,Drama,Musical  1941
60     Animation,Children,Drama,Musical  1941
...                                 ...   ...
99976                             Drama  2011
99980                            Comedy  2004
99987                      Horror,SciFi  1995
99988                             Drama  1956
99989                    Comedy,Romance  2000

[15094 rows x 6 columns]
15094
Số dòng không trùng lắp: 3126

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị những bộ phim loại Comedy và được đánh giá 5*
##------------------------------------------------------------------------------
## Viết code:

490      Beavis and Butt-Head Do America (1996)
637              Gods Must Be Crazy, The (1980)
722                                 Antz (1998)
807                         Time Bandits (1981)
866                      Blazing Saddles (1974)
                          ...
99968             Long-Term Relationship (2006)
99970                The Big Gay Musical (2009)
99971                    The Biggest Fan (2002)
99980                    Straight-Jacket (2004)
99989                       Woman on Top (2000)
Name: title, Length: 1104, dtype: object

---
### **3. Tổng hợp dữ liệu**
---

In [ ]:
##------------------------------------------------------------------------------
## Mở sheet Drinks trong Data.xls
##------------------------------------------------------------------------------
## Viết code:


## Xử lý NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    193 non-null    int64
 1   country                       193 non-null    object
 2   beer_servings                 193 non-null    int64
 3   spirit_servings               193 non-null    int64
 4   wine_servings                 193 non-null    int64
 5   total_litres_of_pure_alcohol  193 non-null    float64
 6   continent                     170 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 10.7+ KB
None
Unnamed: 0                      False
country                         False
beer_servings                   False
spirit_servings                 False
wine_servings                   False
total_litres_of_pure_alcohol    False
continent                        True
dtype: bool

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị số quốc gia trong MỖI châu lục
##------------------------------------------------------------------------------
## Viết code:

continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: country, dtype: int64

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị mức tiêu thụ BIA trung bình ở MỖI châu lục
##------------------------------------------------------------------------------
## Viết code:

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị mức tiêu thụ BIA trung bình, tối thiểu, tối đa ở MỖI châu lục
##------------------------------------------------------------------------------
## Viết code:

                 mean  min  max
continent
AF          61.471698    0  376
AS          37.045455    0  247
EU         193.777778    0  361
OC          89.687500    0  306
SA         175.083333   93  333

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị những châu lục có mức tiêu thụ BIA trung bình > 100
##------------------------------------------------------------------------------
## Viết code:

continent
EU    193.777778
SA    175.083333
Name: beer_servings, dtype: float64

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị mức tiêu thụ trung bình các loại rượu bia ở MỖI châu lục
##------------------------------------------------------------------------------
## Viết code:

,Unnamed: 0,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,,
AF,93.396226,61.471698,16.339623,16.264151,3.007547
AS,109.000000,37.045455,60.840909,9.068182,2.170455
EU,89.377778,193.777778,132.555556,142.222222,8.617778
OC,117.312500,89.687500,58.437500,35.625000,3.381250
SA,87.166667,175.083333,114.750000,62.416667,6.308333

In [ ]:
##------------------------------------------------------------------------------
## Hiển thị thông tin thống kê tổng quát lượng rượu vang tiêu thụ ở mỗi châu lục
##------------------------------------------------------------------------------
## Viết code:

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0